<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('./../../../assets/images/blog-img43.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
              <div class="display-table-cell vertical-align-middle text-center">
                  <!-- start page title -->
                  <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Login Page</h1>
                  <span class="text-white opacity6 alt-font">Create the things you wish existed.</span>
                  <!-- end page title -->
              </div>
          </div>
      </div>
  </div>
</section>

<br>

<form class="form-signin">
  <img class="mb-4" style="display: block; margin-left: auto; margin-right: auto;" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Google
  </button>
</form>