<div class="fix-layout"></div>

<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('./../../../assets/images/parallax-bg10.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center">
          <!-- start page title -->
          <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">About Me</h1>
          <span class="text-white opacity6 alt-font">Few things about myself.</span>
          <!-- end page title -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="story-box">
  <h4>Planning your next big thing?</h4>
  <p>I started my career as a photographer in late 2015. Event Photography is my strong suit. Over the years I was able to capture
    so many moments, memories and build my client base without making any mistakes - how? I try my best to deliver the best.</p>
  <p>If you are looking for an experienced photographer with new ideas to try out - you are in the right place. Please contact
    us at +94 766 763 711 today for appointment arrangements and package details.</p>
  <p>Also don’t forget to show some love on instagram.com/akashfoto. </p>
  <p>See you all in next big event! ❤️ </p>
</div>