<div class="fix-layout"></div>

<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('./../../../assets/images/blog-img21.jpg');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start page title -->
                    <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Blog</h1>
                    <span class="text-white opacity6 alt-font">I write, read and run code everyday.</span>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blogs" *ngFor="let blog of blog | async">
    <div class="col-md-12 posts-center" >
        <div class="col-md-4">
            <div>
                <a (click)="viewBlogPost(blog.id)">
                    <img src="./../../../assets/images/blog-img37.jpg" alt="">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="display-table-cell vertical-align-middle">
                <div class="content margin-20px-bottom sm-no-padding-left ">
                    <a id="blog-title" (click)="viewBlogPost(blog.id)" class="text-extra-dark-gray margin-5px-bottom alt-font text-extra-large font-weight-600 display-inline-block">{{ blog.title }}</a>
                    <div class="text-medium-gray text-extra-small margin-15px-bottom text-uppercase alt-font">
                        <span>By
                            <a href="blog-grid.html" class="text-medium-gray">{{ blog.author }}</a>
                        </span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <span>17 july 2017</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                        <a href="blog-grid.html" class="text-medium-gray">{{ blog.category }}</a>
                    </div>
                    <p class="no-margin width-95">{{ blog.short_description }}</p>
                </div>
                <button class="btn btn-very-small btn-dark-gray text-uppercase" (click)="viewBlogPost(blog.id)">Continue Reading</button>
            </div>
        </div>
    </div>
</section>