<hr class="featurette-divider">
<footer class="container">
  <a class="float-right" href="https://github.com/akashennn/"><i class="fa fa-github"></i></a>
  <p> <span class="brand-name">akashennn</span> &nbsp;2020 &copy; &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
