<div class="fix-layout"></div>

<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('./../../../assets/images/parallax-bg13.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center">
          <!-- start page title -->
          <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Contact</h1>
          <span class="text-white opacity6 alt-font">Let's meet for coffee and plan your event.</span>
          <!-- end page title -->
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<div class="wow fadeIn" id="start-your-project">
    <div class="container">
        <form id="project-contact-form" action="javascript:void(0)" method="post">
            <div class="row">
                 <div class="col-md-12">
                     <div id="success-project-contact-form" class="no-margin-lr"></div>
                </div>
                <div class="col-md-6">
                    <input type="text" name="name" id="name" placeholder="Name *" class="big-input">
                </div>
                <div class="col-md-6">
                    <input type="text" name="phone" id="phone" placeholder="Phone"  class="big-input">
                </div>
                <div class="col-md-6">
                     <input type="text" name="email" id="email" placeholder="E-mail *" class="big-input">
                </div>
                <div class="col-md-6">
                    <div class="select-style big-select">
                        <select name="budget" id="budget" class="bg-transparent no-margin-bottom">
                            <option value="">Select your package</option>
                            <option value="LKR.10,000">LKR.10,000</option>
                            <option value="LKR.15,000">LKR.15,000</option>
                            <option value="LKR.25,000">LKR.25,000</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <textarea name="comment" id="comment" placeholder="Message" rows="6" class="big-textarea"></textarea>
                </div>
                <div class="col-md-12 text-center">
                    <button id="project-contact-us-button" type="submit" class="btn btn-transparent-dark-gray btn-large margin-20px-top">send message</button>
                </div>
            </div>
        </form>
    </div>
  </div>

<br>