<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./../../../assets/images/logo-white.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#/blog-post/new">New Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photography/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photography/packages">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photography/about-me">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/photography/portfolio">Portfolio</a>
      </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#/login">Login</a>
      </li>
    </ul>
  </div>
</nav> -->

<header>
  <!-- start navigation -->
  <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
    <div class="container-fluid nav-header-container">
      <div class="row">
        <!-- start logo -->
        <div class="col-md-2 col-xs-5">
          <a href="" title="akashennn" class="logo">
            <img src="../../../assets/images/logo-black.png" data-at2x="../../../assets/images/logo-black.png" class="logo-dark" alt="Pofo">
            <img src="../../../assets/images/logo-white.png" data-at2x="../../../assets/images/logo-white.png" alt="Pofo" class="logo-light default">
          </a>
        </div>
        <!-- end logo -->
        <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
          <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
            <span class="sr-only">toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
              <!-- start menu item -->
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about-me">About Me</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#services">Services</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact-us">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-xs-5 width-auto">
          <div class="header-searchbar">
            <a class="nav-link" href="/login">
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </a>
          </div>
          <div class="header-social-icon xs-display-none">
            <a href="https://www.facebook.com/akashfoto" title="Facebook" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/akashfoto" title="Twitter" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/akashfoto/" title="Instagram" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end navigation -->
</header>