<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('./../../../assets/images/parallax-bg39.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
              <div class="display-table-cell vertical-align-middle text-center">
                  <!-- start page title -->
                  <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">{{ (blog | async)?.title }}</h1>
                  <span class="text-white opacity6 alt-font">{{ (blog | async)?.author }}</span>
                  <!-- end page title -->
              </div>
          </div>
      </div>
  </div>
</section>

<div>
    <h4>{{ (blog | async)?.content }}</h4>
</div>
