<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('./../../../assets/images/parallax-bg31.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
              <div class="display-table-cell vertical-align-middle text-center">
                  <!-- start page title -->
                  <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">New Blog Post</h1>
                  <span class="text-white opacity6 alt-font">Lorem Ipsum is simply dummy text printing</span>
                  <!-- end page title --> 
              </div>
          </div>
      </div>
  </div>
</section>

<form #NewBlogPost="ngForm" (ngSubmit)="saveBlogPost(NewBlogPost.value)">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Hello World" [(ngModel)]="blog.title" name="title">
  </div>
  <div class="form-group">
      <label for="title">Category</label>
      <input type="text" class="form-control" id="category" placeholder="Firebase" [(ngModel)]="blog.category" name="category">
  </div>
  <div class="form-group">
      <label for="content">Short Description</label>
      <textarea class="form-control" id="short_description" rows="3" [(ngModel)]="blog.short_description" name="short_description" placeholder="This is what happend"></textarea>
    </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" id="content" rows="15" [(ngModel)]="blog.content" name="content" placeholder="So one day I was doing my routing check"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>