@media screen and (max-width: 600px) {
  iframe {
    width: 100% !important;
    margin-top: -50px;
    margin-bottom: -110px;
  }

  #snapwidget {
    margin-bottom: 0 !important;
  }

  .counter-feature-box-1 {
    height: 100px;
  }

  .clients {
    max-width: 50%;
  }

  #snapwidget {
    margin-top: 0 !important;
  }

  iframe{
    display: none;
  }
}
