<div class="fix-layout"></div>

<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5"
         style="background-image:url('./../../../assets/images/portfolio-1.jpg');">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center">
          <!-- start page title -->
          <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Akash Perera
            Photography</h1>
          <span class="text-white opacity6 alt-font">We capture moments lasts forever.</span>
          <!-- end page title -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wow fadeIn animated animated" id="about-me">
  <div class="container">
    <div class="row equalize sm-equalize-auto">
      <div class="col-md-5 col-sm-12 col-xs-12 text-center sm-margin-30px-bottom wow fadeInLeft">
        <div class="display-table width-100 height-100">
          <div class="display-table-cell vertical-align-middle width-100 height-100">
            <a
              href="https://www.facebook.com/AkashFoto/photos/a.1693317604276020.1073741831.1690784034529377/2136632169944559/?type=3&theater" target="_blank"><img
              src="../../../assets/images/about-img3.jpg" alt="" class="border-radius-6 width-100"></a>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
        <div class="display-table width-100 height-100">
          <div
            class="display-table-cell vertical-align-middle padding-twelve-lr sm-text-center sm-no-padding width-100">
            <span class="text-deep-pink alt-font margin-10px-bottom display-inline-block text-medium">Don’t worry, you’re in safe hands.</span>
            <h6 class="alt-font text-extra-dark-gray">We are committed to our customers’ success from start to
              finish.</h6>
            <p>I started my career as a photographer in late 2015. Over the years I was able to capture so many moments,
              memories and build my client base without making any mistakes - how? I try my best to deliver the best. If
              you are looking for an experienced photographer with new ideas to try out - you are in the right
              place.</p>
            <a href="#services" class="btn btn-dark-gray btn-small text-extra-small btn-rounded margin-5px-top">
              <i class="fa fa-play-circle icon-very-small margin-5px-right no-margin-left" aria-hidden="true"></i> Our
              Services</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="bg-extra-dark-gray wow fadeIn md-padding-two-lr">
  <div class="container">
    <div class="row">
      <!-- start counter item-->
      <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-five-bottom xs-margin-30px-bottom wow fadeInUp">
        <div class="counter-feature-box-1 display-table width-100 padding-5px-all">
          <div class="counter-box display-table-cell vertical-align-middle bg-extra-dark-gray">
            <i class="icon-heart icon-medium text-medium-gray margin-15px-bottom"></i>
            <h6 class="display-block font-weight-600 text-white alt-font no-margin-bottom timer" data-speed="2000"
                data-to="4650">80</h6>
            <span>Happy Clients</span>
          </div>
        </div>
      </div>
      <!-- end counter item-->
      <!-- start counter item-->
      <div class="col-md-3 col-sm-6 col-xs-12 text-center sm-margin-five-bottom xs-margin-30px-bottom wow fadeInUp"
           data-wow-delay="0.2s">
        <div class="counter-feature-box-1 display-table width-100 padding-5px-all">
          <div class="counter-box display-table-cell vertical-align-middle bg-extra-dark-gray">
            <i class="icon-screen-desktop icon-medium text-medium-gray margin-15px-bottom"></i>
            <h6 class="display-block font-weight-600 text-white alt-font no-margin-bottom timer" data-speed="2000"
                data-to="3790">110</h6>
            <span>Project Completed</span>
          </div>
        </div>
      </div>
      <!-- end counter item-->
      <!-- start counter item-->
      <div class="col-md-3 col-sm-6 col-xs-12 text-center xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.4s">
        <div class="counter-feature-box-1 display-table width-100 padding-5px-all">
          <div class="counter-box display-table-cell vertical-align-middle bg-extra-dark-gray">
            <i class="icon-camera icon-medium text-medium-gray margin-15px-bottom"></i>
            <h6 class="display-block font-weight-600 text-white alt-font no-margin-bottom timer" data-speed="2000"
                data-to="5580">32000+</h6>
            <span>Photo Capture</span>
          </div>
        </div>
      </div>
      <!-- end counter item-->
      <!-- start counter item-->
      <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp" data-wow-delay="0.6s">
        <div class="counter-feature-box-1 display-table width-100 padding-5px-all">
          <div class="counter-box display-table-cell vertical-align-middle bg-extra-dark-gray">
            <i class="icon-call-out icon-medium text-medium-gray margin-15px-bottom"></i>
            <h6 class="display-block font-weight-600 text-white alt-font no-margin-bottom timer" data-speed="2000"
                data-to="8580">150</h6>
            <span>Telephonic Talk</span>
          </div>
        </div>
      </div>
      <!-- end counter item-->
    </div>
  </div>
</div>

<!-- end counter section -->
<!-- start feature box section -->
<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5"
         style="background-image: url('../../../assets/images/parallax-bg18.jpg')">
  <div class="container" id="services">
    <div class="row">
      <div
        class="col-lg-8 col-md-8 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
        <h6 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">Wedding, Event and Fashion Photographer
          based in Colombo, Sri Lanka. 🇱🇰</h6>
      </div>
    </div>
    <div class="row equalize">
      <!-- start features box -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom last-paragraph-no-margin xs-margin-30px-bottom wow fadeInUp">
        <div class="bg-white text-center">
          <img src="../../../assets/images/latest-blog5.jpg" alt="">
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Wedding Photography</span>
          </div>
        </div>
      </div>
      <!-- end feature box -->
      <!-- start features box -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom last-paragraph-no-margin xs-margin-30px-bottom wow fadeInUp"
        data-wow-delay="0.2s">
        <div class="bg-white text-center">
          <img src="../../../assets/images/latest-blog6.jpg" alt="">
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Event Photography</span>
          </div>
        </div>
      </div>
      <!-- end feature box -->
      <!-- start features box -->
      <div
        class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom last-paragraph-no-margin xs-no-margin-bottom wow fadeInUp"
        data-wow-delay="0.4s">
        <div class="bg-white text-center">
          <img src="../../../assets/images/latest-blog7.jpg" alt="">
          <div class="padding-45px-all sm-padding-15px-all inner-match-height">
            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">Fashion Photography</span>
          </div>
        </div>
      </div>
      <!-- end feature box -->
    </div>
  </div>
</section>

<section class="parallax wow fadeIn" data-stellar-background-ratio="0.5"
         style="background-image: url('../../../assets/images/testimonial-parallax-img.jpg')">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="swiper-slider-second swiper-container white-move">
        <div class="swiper-wrapper">
          <!-- start testimonial slide item -->
          <div class="swiper-slide">
            <div class="col-md-7 col-sm-10 col-xs-12 center-col equalize sm-equalize-auto">
              <div class="col-md-3 col-sm-3 col-xs-12 display-table">
                <div class="display-table-cell vertical-align-middle">
                  <img src="../../../assets/images/avtar-08.jpg" alt=""
                       class="border-radius-100 width-150px xs-width-100px xs-margin-15px-bottom">
                </div>
              </div>
              <div
                class="col-md-8 col-sm-8 col-xs-12 text-left xs-text-center margin-20px-left xs-no-margin-left display-table last-paragraph-no-margin">
                <div class="display-table-cell vertical-align-middle">
                  <p class="text-extra-light-gray">Being a professional photographer is not only about taking good
                    pictures, talented individual should be dedicated, flexible most importantly punctual -- Akash is
                    everything I've mentioned, he's a very reliable. Thank you for all the photo shoots you've done and
                    I wish you all the very best.</p>
                  <span
                    class="text-white alt-font display-inline-block text-uppercase text-small margin-15px-top display-inline-block">- Kushan Niluka / DJ KUSH on REAL RADIO</span>
                </div>
              </div>
            </div>
          </div>
          <!-- end testimonial slide item -->
        </div>
        <div class="swiper-button-next slider-long-arrow-white"></div>
        <div class="swiper-button-prev slider-long-arrow-white"></div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid padding-five-lr">
    <div class="row">
      <!-- start clients slide item -->
      <div class="col-md-2 col-sm-6 text-center wow fadeInRight">
        <img class="clients" src="../../../assets/images/hsbc-logo.jpg" alt=""/>
      </div>
      <!-- end clients item -->
      <!-- start clients slide item -->
      <div class="col-md-2 col-sm-6 text-center wow fadeInRight" data-wow-delay="0.2s">
        <img class="clients" src="../../../assets/images/aia-insurance-logo.jpg" alt=""/>
      </div>
      <!-- end clients slide item -->
      <!-- start clients slide item -->
      <div class="col-md-2 col-sm-6 text-center wow fadeInRight" data-wow-delay="0.4s">
        <img class="clients" src="../../../assets/images/infortec-logo.jpg" alt=""/>
      </div>
      <!-- end clients slide item -->
      <!-- start clients slide item -->
      <div class="col-md-2 col-sm-6 text-center wow fadeInRight" data-wow-delay="0.6s">
        <img class="clients" src="../../../assets/images/private-lounge-logo.jpg" alt=""/>
      </div>
      <!-- end clients slide item -->
      <!-- start clients slide item -->
      <div class="col-md-2 col-sm-6 text-center wow fadeInRight" data-wow-delay="0.8s">
        <img class="clients" src="../../../assets/images/3000-events-logo.jpg" alt=""/>
      </div>
      <!-- end clients slide item -->
      <!-- start clients slide item -->
      <div class="col-md-2 col-sm-6 text-center wow fadeInRight" data-wow-delay="1s">
        <img class="clients" src="../../../assets/images/eventmagic-logo.jpg" alt=""/>
      </div>
      <!-- end clients slide item -->
    </div>
  </div>
</section>

<div class="wow fadeIn" id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        <h5
          class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">
          We would love to hear about your event, make an appointment today. </h5>
        <a href="tel:+94-766-763-711" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp"
           data-wow-delay="0.2s">BOOK NOW!</a>
      </div>
    </div>
  </div>
</div>

<div id="snapwidget" style="margin-top: 100px;">
  <!-- SnapWidget -->
  <iframe src="https://snapwidget.com/embed/583138" class="snapwidget-widget" allowtransparency="true" frameborder="0"
          scrolling="no" style="border:none; overflow:hidden;  width:100%; height:200px"></iframe>
</div>

<br>
<br>
